a {
  color: slategrey;
  text-decoration: none;
}

a:hover {
  color: red;
}

body {
  margin: 0;
}

.page {
  position: absolute;
  inset: 0;
}

.page-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border: dashed steelblue 4px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}

header {
  margin-bottom: 16px;
}

nav {
  width: 100%;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li {
  margin: 0;
  padding: 8px;
}

.nav-list li:first-of-type {
  flex-grow: 1;
}

main {
  padding: 8px;
}

footer {
  display: flex;
  margin-top: 16px;
  padding: 8px;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.blog-item {
  display: flex;
  align-items: baseline;
  transition: background 200ms;
}

.blog-item:hover {
  background: lightgrey;
}

.blog-item a {
  flex-grow: 1;
}

.blog-item h4 {
  margin: 0;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.about-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.friends-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.friends-list li {
  margin: 8px;
}

article :global(pre) {
  overflow-x: auto;
}

article :global(img) {
  max-width: 100%;
  height: auto;
}
